nav ul{
    display:flex;
    list-style-type: none;
    padding: 0;
}
nav ul li{
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
}
.imagen-noticia{
    float:left;
    margin-right: 10px;
}
article{
    border: 1px solid black;
    padding: 20px;
    border-radius:25px;
    box-shadow:10px 5px black ;
}
h2{font-family: Arial, Helvetica, sans-serif;
font-size: 28px;}
.fecha-noticia{
    font-size: italic;
}
body{border: 10px solid blue ;
    height:100%;}

    footer{
        position:absolute;
        bottom:0;
        margin-bottom: -20xp;
    }
    
    section#galeria div{display: flex;
    justify-content:center;
flex-wrap:wrap;}

section#galeria figure{
    border: 1px solid rgb(128, 135, 240)
}
section#galeria figcaption italic  
section#galeria img{width: 300px;}
    
    section#galeria img:hover{
        transform: scale(1.1);
        
    }
